body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('Feubackground.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100px; /* Adjust the logo size */
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    text-align: center;
    color: #16a085;
}

h3 {
    text-align: center;
    color: #e74c3c;
    margin-top: 40px;
}

b {
    font-weight: bold;
}

p {
    margin: 20px 0;
    text-align: justify;
}

.June {
    color: #d35400;
    font-weight: bold;
}

i {
    display: block;
    text-align: center;
    color: #95a5a6;
    margin-top: 20px;
}

i:last-of-type {
    margin-top: 0;
}

}
