*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jjk-container{
width:90vw;
border: 5px solid black;
margin: 50 px auto;
display: grid;
}

.item{
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white
}

img{
    width: 128px;
}

.name{
    font-size: 2.5rem;
    font-weight: 700;
}

.grade{
    font-size: 1.6rem;
}

.desc{
    text-align: justify;
    line-height:1.5;
}

#Gojo{
    background-color: #003D69;
    grid-column: 1/3;
}

#Sukuna{
    background-color: #281C60;
}

#Nanami{
    background-color: #296974;
    grid-column: 1/2;
}

#Kokichi{
    background-color: #AD418C;
    grid-column: 2/4;
}

#Megumi{
    background-color: #3A214A;
    grid-column: 4/5;
    grid-row: 1/3;

}

@media (max-width:800px){
 .jjk-container{
   grid-template-columns: 1fr;  
 }

 #Gojo{
    grid-column: 1/2;
 }

 #Kokichi{
    grid-column: 1/2;
 }

}
